---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import artPortrait from "@assets/images/portrait-art.jpg";
import devPortrait from "@assets/images/portrait-dev.jpg";

const img
---

<Layout title="Miguel Ãngel">
  <main>
    <div class="flex max-w-full h-full">
      <div class="flex-1 overflow-hidden">
        <Image
          src={artPortrait}
          alt={"art-portrait"}
          class="object-cover w-full h-full opacity-25 hover:scale-105 hover:opacity-100 transition-all"
        />
      </div>
      <div class="flex-1 overflow-hidden">
        <Image
          src={devPortrait}
          alt={"dev-portrait"}
          class="object-cover w-full h-full opacity-25 hover:scale-105 hover:opacity-100 transition-all"
        />
      </div>
    </div>
  </main>
</Layout>

<style></style>
